@charset "UTF-8";
@import url(../libs/slick-carousel/slick/slick.css);
@import url(../libs/slick-carousel/slick/slick-theme.css);
@import url(../libs/fancybox/dist/jquery.fancybox.css);
.icon-arrow-down {
  background-image: url(../img/sprite.png);
  background-position: 0px -38px;
  width: 16px;
  height: 11px; }

.icon-close {
  background-image: url(../img/sprite.png);
  background-position: -38px 0px;
  width: 14px;
  height: 14px; }

.icon-error {
  background-image: url(../img/sprite.png);
  background-position: -16px -22px;
  width: 14px;
  height: 15px; }

.icon-magniffic-glass {
  background-image: url(../img/sprite.png);
  background-position: -38px -14px;
  width: 14px;
  height: 14px; }

.icon-phone {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 22px;
  height: 22px; }

.icon-radio-active {
  background-image: url(../img/sprite.png);
  background-position: -22px 0px;
  width: 16px;
  height: 16px; }

.icon-radio-default {
  background-image: url(../img/sprite.png);
  background-position: 0px -22px;
  width: 16px;
  height: 16px; }

/* Grid */
.container {
  position: relative;
  max-width: 970px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.w2 > .col {
  width: 50%; }

.w3 > .col {
  width: 33.333333333%; }

.w4 > .col {
  width: 25%; }

.w5 > .col {
  width: 20%; }

.w6 > .col {
  width: 16.666666667%; }

.col {
  display: block;
  float: left;
  min-height: 1px; }

@font-face {
  src: url("../fonts/GothaProReg.otf");
  font-family: "Gotham Pro";
  font-weight: 400; }

@font-face {
  src: url("../fonts/GothaProMed.otf");
  font-family: "Gotham Pro";
  font-weight: 500; }

@font-face {
  src: url("../fonts/GothaProBla.otf");
  font-family: "Gotham Pro";
  font-weight: 900; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 12px;
  font-family: "Gotham Pro", sans-serif;
  color: #000;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

ul {
  font-size: 0; }
  ul li {
    font-size: 12px;
    display: inline-block;
    list-style-type: none; }

span {
  position: relative;
  display: inline-block; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.button {
  display: block;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  font-family: "Gotham Pro", sans-serif;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5d942a), to(#70ae36));
  background-image: -webkit-linear-gradient(bottom, #5d942a 0%, #70ae36 100%);
  background-image: linear-gradient(to top, #5d942a 0%, #70ae36 100%); }

/* Input */
.input {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid gray; }

.popup {
  display: none; }

.header {
  color: white;
  background-color: #1792ba;
  padding-top: 35px;
  padding-bottom: 160px;
  border-bottom: 3px solid #70ae36; }
  .header a {
    color: white; }
  .header__title {
    font-size: 50px;
    line-height: 52px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 23px; }
  .header__city {
    font-size: 40px;
    margin-bottom: 27px; }
  .header__text {
    font-size: 16px;
    max-width: 430px;
    line-height: 22px;
    margin-bottom: 70px; }
  .header__button {
    width: 442px;
    height: 58px;
    background-color: #4e831e;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: white;
    padding: 15px;
    -webkit-border-radius: 40px;
            border-radius: 40px; }
    .header__button img {
      width: 28px;
      height: 27px;
      display: inline-block;
      vertical-align: middle; }
    .header__button span {
      margin-left: 25px; }

.panel {
  margin-bottom: 65px; }

.logo {
  width: 243px;
  height: 154px;
  margin-right: 57px; }

.feedback {
  padding-top: 40px; }
  .feedback .phone {
    margin-bottom: 15px; }
    .feedback .phone__title {
      font-size: 11px;
      margin-bottom: 8px; }
    .feedback .phone__value {
      font-weight: 500;
      font-size: 24px; }
  .feedback .callback {
    width: 180px;
    height: 38px;
    color: white;
    line-height: 38px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    text-align: center;
    background-color: #77c23e;
    font-size: 14px;
    font-weight: 500; }

.about {
  margin-top: -58px;
  margin-bottom: 45px; }
  .about__persona {
    width: 180px;
    margin-right: 60px; }
  .about__text {
    margin-top: 100px;
    width: 390px;
    font-size: 13px;
    line-height: 21px;
    position: relative; }
    .about__text:before {
      content: '“';
      font-weight: 900;
      line-height: 21px;
      font-size: 32px;
      position: absolute;
      top: 7px;
      left: -29px; }
  .about__steps {
    float: right;
    width: 240px;
    padding-top: 31px; }

.persona__img {
  border: 3px solid white;
  width: 186px;
  margin-bottom: 15px;
  margin-left: -3px; }
  .persona__img img {
    display: block;
    max-width: 100%; }

.persona__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 10px; }

.persona__desc {
  margin-bottom: 21px;
  font-size: 11px;
  line-height: 14px; }

.persona__text {
  margin-bottom: 15px; }

.persona__button {
  width: 180px;
  line-height: 38px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #77c23e;
  font-size: 14px;
  font-weight: 500;
  color: white; }

.step {
  background-color: #70ae36;
  margin-bottom: 25px;
  position: relative;
  padding: 31px 19px 36px 35px; }
  .step:first-of-type .step__count {
    left: -3%; }
  .step:last-of-type {
    margin-bottom: 0; }
  .step__count {
    font-size: 60px;
    color: #46731c;
    font-weight: 500;
    position: absolute;
    top: 25%;
    left: -4%; }
  .step__name {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #ffffff; }

.certificates {
  position: relative;
  text-align: center;
  margin-bottom: 55px; }
  .certificates__title {
    font-size: 16px;
    padding-top: 3px;
    font-weight: 500;
    color: #188aae;
    width: 276px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    margin-bottom: 37px; }
    .certificates__title:before {
      z-index: -1;
      content: '';
      width: 940px;
      height: 1px;
      background-color: #a9cdd9;
      opacity: 0.6;
      display: block;
      position: absolute;
      top: 8px;
      left: 15px; }
  .certificates__list {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px; }
  .certificates__all {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 12px; }
    .certificates__all span {
      color: #6ba733;
      padding-bottom: 1px;
      border-bottom: 1px dotted #6ba733;
      cursor: pointer; }
  .certificates__desc {
    color: #8cb8c6;
    font-weight: 400;
    line-height: 21px; }
    .certificates__desc .icon {
      margin-right: 9px; }

.certificate {
  display: inline-block;
  width: 156px;
  line-height: 215px;
  height: 215px;
  border: 1px solid transparent;
  vertical-align: top;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer; }
  .certificate:hover {
    border: 1px solid #1689ae; }
  .certificate img {
    display: inline-block;
    vertical-align: middle; }

.calc__wrap {
  padding: 35px 75px 45px;
  border: 5px solid #83b258;
  margin-left: -35px;
  margin-right: -35px; }
  .calc__wrap:after {
    position: absolute;
    display: block;
    content: '';
    background: url("../img/bg/calc.png") no-repeat;
    width: 216px;
    height: 466px;
    top: -11px;
    right: 50px; }

.calc__title {
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
  margin-bottom: 30px; }
  .calc__title span {
    color: #70b138; }

.calc__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px; }

.calc .radio-group {
  margin-top: 13px;
  font-size: 0; }
  .calc .radio-group .radio {
    display: inline-block;
    margin-right: 10px; }
    .calc .radio-group .radio:last-of-type {
      margin-right: 0; }

.calc__config {
  width: 261px;
  margin-right: 60px; }

.calc__counts {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 20px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0; }

.calc__button {
  width: 220px;
  height: 51px;
  line-height: 51px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 20px;
  font-weight: 500;
  color: white; }

.result__wrap {
  position: relative;
  color: white;
  background-color: #65a42f;
  width: 340px;
  margin-top: 18px; }

.result__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  width: 235px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 97px; }

.result__content {
  display: none;
  padding: 15px; }
  .result__content p {
    font-weight: 500;
    line-height: 17px;
    font-size: 13px; }

.result__table {
  margin-bottom: 12px; }
  .result__table .row {
    border-top: 1px solid white; }
    .result__table .row:last-of-type {
      border-bottom: 1px solid white; }
  .result__table .col {
    height: 52px;
    border-left: 1px solid white;
    padding: 13px 19px;
    font-size: 14px;
    font-weight: 500; }
    .result__table .col:last-of-type {
      border-right: 1px solid white; }
    .result__table .col#imt, .result__table .col#massa {
      font-weight: 900;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 38px; }
    .result__table .col#massa span {
      font-size: 30px; }

.result__error {
  display: none;
  left: 0;
  top: 104%;
  width: 100%;
  position: absolute;
  border: 1px solid #f54735;
  font-size: 12px;
  line-height: 13px;
  color: #e22929;
  padding: 10px 27px 10px 43px; }
  .result__error:before {
    position: absolute;
    top: 11px;
    left: 18px;
    content: '';
    background-image: url(../img/sprite.png);
    background-position: -16px -22px;
    width: 14px;
    height: 15px; }
  .result__error span:after {
    display: inline;
    content: ', ';
    margin-right: 6px; }
  .result__error span:last-of-type:after {
    display: none; }

.download {
  margin-top: 32px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e1dcd7; }
  .download__wrap {
    width: 490px;
    margin-left: auto;
    margin-right: auto; }
  .download__icon, .download__content {
    display: inline-block;
    vertical-align: top; }
  .download__icon, .download__icon img {
    width: 30px;
    height: 29px; }
  .download__content {
    margin-left: 12px; }
  .download__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 7px; }
    .download__title a {
      color: #1d1d1d;
      border-bottom: 1px solid #1d1d1d; }
  .download__desc {
    font-weight: 500;
    color: #525252; }

.gallery {
  padding-top: 46px;
  padding-bottom: 47px;
  position: relative;
  border-bottom: 1px solid #e1dcd7; }
  .gallery__title {
    font-size: 28px;
    text-align: center;
    position: relative; }
    .gallery__title:after {
      content: '';
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80px;
      height: 3px;
      background-color: #5d942a;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      margin-top: 22px;
      margin-bottom: 20px; }
  .gallery__item {
    opacity: .73;
    padding-top: 150px; }
  .gallery__img img {
    width: 300px; }
  .gallery .slick-active {
    opacity: 1;
    padding: 19px;
    border: 1px solid #e1e1e1;
    margin-left: 28px;
    margin-right: 28px; }
    .gallery .slick-active img {
      width: 610px; }
    .gallery .slick-active .gallery__text {
      opacity: 1; }
  .gallery__text {
    font-size: 0;
    margin-top: 19px;
    opacity: 0; }
    .gallery__text p {
      display: inline-block;
      width: 50%;
      vertical-align: top; }
      .gallery__text p:first-of-type {
        font-size: 14px;
        font-weight: 500; }
      .gallery__text p:last-of-type {
        font-size: 12px;
        text-align: right; }
  .gallery__arrows {
    position: absolute;
    width: 100%;
    top: 57%;
    left: 0; }
    .gallery__arrows .slick-arrow {
      top: auto;
      width: 62px;
      height: 62px;
      border: 3px solid #5d942a;
      background-color: #ffffff;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .gallery__arrows .slick-arrow:before {
        display: none; }
      .gallery__arrows .slick-arrow img {
        width: 27px;
        height: 27px;
        position: relative; }
    .gallery__arrows .slick-prev {
      left: 110px; }
      .gallery__arrows .slick-prev img {
        right: 1px; }
    .gallery__arrows .slick-next {
      right: 110px; }
      .gallery__arrows .slick-next img {
        left: 2px; }

.schedule {
  padding-top: 46px;
  text-align: center;
  margin-bottom: 50px; }
  .schedule__title {
    font-size: 28px;
    margin-bottom: 19px; }
  .schedule__desc {
    margin-bottom: 35px;
    font-size: 13px; }
  .schedule__table {
    width: 100%;
    margin-left: -1px;
    margin-right: -1px;
    font-size: 13px; }
    .schedule__table .col {
      width: 14.28571%; }
  .schedule__item {
    border-left: 1px solid white;
    border-right: 1px solid white; }
    .schedule__item:nth-of-type(odd) .schedule__day {
      background: #63b33b; }
    .schedule__item:nth-of-type(odd) .schedule__time {
      background: #ebebeb; }
  .schedule__day {
    color: white;
    line-height: 29px;
    background: #4c9429;
    border-bottom: 2px solid white;
    font-weight: 500; }
  .schedule__time {
    line-height: 50px;
    background: #f6f6f6; }

.form {
  color: white;
  padding-top: 48px;
  padding-bottom: 50px;
  border-bottom: 3px solid #6aa632;
  background: url("../img/bg/form.png") no-repeat top right, #1588ae; }
  .form__wrap {
    position: relative;
    border: 3px solid white;
    border-top: none;
    padding: 0 75px 30px; }
  .form__title {
    position: relative;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 33px;
    top: -10px; }
    .form__title:before, .form__title:after {
      display: block;
      position: absolute;
      content: '';
      width: 30%;
      height: 3px;
      background: white;
      top: 10px; }
    .form__title:before {
      left: -75px; }
    .form__title:after {
      right: -75px; }
  .form__subtitle {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px; }
  .form__elements {
    font-size: 0; }
  .form .input {
    width: 321px;
    height: 47px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(211, 197, 200, 0.75);
            box-shadow: inset 1px 1px 1px rgba(211, 197, 200, 0.75);
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #167792;
    background-color: #ffffff;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px; }
    .form .input-phone {
      width: 199px; }
  .form__button {
    display: inline-block;
    width: 180px;
    line-height: 52px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-right: 29px;
    vertical-align: top; }
  .form__regulations {
    vertical-align: top;
    display: inline-block;
    padding-top: 11px;
    font-size: 10px;
    line-height: 14px; }
    .form__regulations a {
      color: white;
      font-weight: 500; }
      .form__regulations a:hover {
        border-color: white; }

.elements {
  margin-bottom: 18px; }
  .elements__item:first-of-type {
    margin-right: 55px; }

.footer__top {
  padding-top: 34px;
  padding-bottom: 38px;
  background: url("../img/bg/footer-shadow.png") repeat-x bottom center; }

.footer__desc {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 74px; }

.footer__contacts {
  margin-right: 64px; }
  .footer__contacts .phone__title {
    margin-bottom: 9px; }
  .footer__contacts .phone__value {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 11px; }
  .footer__contacts .email a {
    font-size: 14px;
    color: #156c85; }
    .footer__contacts .email a:hover {
      border-color: #156c85; }

.footer__address .address__title {
  margin-bottom: 13px; }

.footer__address .address__text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px; }

.footer__address .address__link a {
  color: #046383; }
  .footer__address .address__link a:hover {
    border-color: #046383; }

.footer__bottom {
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 11px;
  color: #1b1b1b; }

.footer__dev {
  margin-left: 105px; }
  .footer__dev a {
    border-color: #1b1b1b; }
    .footer__dev a:hover {
      border-color: transparent; }

br.hidden-br {
  display: none; }

.radio {
  display: block; }
  .radio input {
    display: none; }
    .radio input:checked + label:before {
      background-image: url(../img/sprite.png);
      background-position: -22px 0px;
      width: 16px;
      height: 16px; }
  .radio label {
    padding-left: 22px;
    position: relative;
    font-size: 14px;
    position: relative;
    cursor: pointer; }
    .radio label:before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0px;
      background-image: url(../img/sprite.png);
      background-position: 0px -22px;
      width: 16px;
      height: 16px; }

.increment {
  position: relative;
  display: block; }
  .increment input {
    display: block;
    width: 60px;
    line-height: 36px;
    height: 32px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(211, 197, 200, 0.75);
            box-shadow: inset 1px 1px 1px rgba(211, 197, 200, 0.75);
    -webkit-border-radius: 0;
            border-radius: 0;
    border: 1px solid #cbcbcb;
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-family: "Gotham Pro";
    font-weight: 400; }
  .increment__plus, .increment__minus {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    right: 6px;
    cursor: pointer; }
  .increment__plus {
    top: 10px;
    border-width: 0 4px 4px 4px;
    border-color: transparent transparent #60982c transparent; }
  .increment__minus {
    bottom: 10px;
    border-width: 4px 4px 0 4px;
    border-color: #60982c transparent transparent transparent; }
  .increment_error input {
    border-color: #ff6060; }

.line {
  font-size: 0;
  line-height: 32px;
  margin-bottom: 14px; }
  .line:last-of-type {
    margin-bottom: 0; }
  .line .text-before {
    display: inline-block;
    width: 130px;
    font-size: 16px;
    font-weight: 500;
    vertical-align: middle; }
  .line .text-after {
    display: inline-block;
    font-size: 14px;
    margin-left: 11px;
    vertical-align: middle; }
  .line .increment {
    display: inline-block;
    vertical-align: middle; }
