/* Grid */
.container {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.row:before, .row:after, .clearfix:before, .clearfix:after {
  display: table;
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.row:after, .clearfix:after {
  clear: both; }

.w2 > .col {
  width: 50%; }

.w3 > .col {
  width: 33.333333333%; }

.w4 > .col {
  width: 25%; }

.w5 > .col {
  width: 20%; }

.w6 > .col {
  width: 16.666666667%; }

.col {
  display: block;
  float: left;
  min-height: 1px; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: "GothamPro", sans-serif;
  color: #000;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

ul {
  font-size: 0; }
  ul li {
    font-size: 16px;
    display: inline-block;
    list-style-type: none; }

span {
  position: relative;
  display: inline-block; }

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.button {
  display: inline-block;
  color: #000;
  background: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-family: "GothamPro", sans-serif; }

/* Input */
.input {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid gray; }
