@import "grid.sass"
@import "fonts.sass"

$color-1: #000
$font-size: 16px
$font-family-1: 'GothamPro', sans-serif
$transition-speed: .3s

*
	margin: 0
	padding: 0
	border: 0
	box-sizing: border-box

body
	font-size: $font-size
	font-family: $font-family-1
	color: $color-1
	background: white
	box-sizing: border-box

h1, h2, h3, h4, h5, h6
	font-size: inherit
	font-weight: inherit


ul
	font-size: 0
	li
		font-size: $font-size
		display: inline-block
		list-style-type: none



span
	position: relative
	display: inline-block


a
	color: $color-1
	text-decoration: none
	border-bottom: 1px solid transparent
	transition: $transition-speed


.button
	display: inline-block
	color: $color-1
	background: white
	padding: 5px 10px
	cursor: pointer
	font-size: $font-size
	font-family: $font-family-1
	


/* Input */
.input
	display: inline-block
	padding: 5px 10px
	border: 1px solid gray
	

